@media screen and (max-width: 576px) {
    /*navbar section  */
    .nav-hamburger-menu{
        display: block;
    }
    .nav-links{
        display: none;
    }
    /* banner section */
    .banner-section{
        flex-direction: column;
        text-align: center;
    }
    /* unique-section start here */
    .unique-section{
        flex-direction: column;
    }
     /* Change Your Habits section */
     .habits-section{
        flex-direction: column;
     }
     .movement-images-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
     }
    /* Run an Extra Mile Easily section */
    .main-section{
        flex-direction: column;
    }
    .run-extra-img-section img{
        width: 100%;
    }
    /* BMI Calculator section */
    .bmi-calculator-chart{
        flex-direction: column;
    }
    /*  Meet Our Team section */
    .team-section{
        flex-direction: column;
        text-align: center;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    /* footer section */
    .footer-teams, footer-section{
        
        flex-direction: column;
        /* align-items: flex-start; */
    }
    .all-right{
        font-weight: 100;
        font-size: 0.88rem;
        letter-spacing: normal;
    }
    .footer-service{
        font-weight: 200;
        font-size: 1rem;
    }
    hr{
        width: 100%;
    }
   

}

