@media screen and (max-width: 576px) {
    /*navbar section  */
    .nav-hamburger-menu{
        display: block;
    }
    .nav-links{
        display: none;
    }
    /* banner section */
    .banner-section{
        flex-direction: column;
        text-align: center;
    }
     /* Change Your Habits section */
     .habits-section{
        flex-direction: column;
     }
     .movement-images-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
     }
    /* Run an Extra Mile Easily section */
    .main-section{
        flex-direction: column;
    }
    .run-extra-img-section img{
        width: 100%;
    }
    /*  Meet Our Team section */
    .team-section{
        flex-direction: column;
        text-align: center;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
   

}

