@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* navbar styles */
.bg-color{
  background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
.brand{
  font-weight: 800;
  font-size: 2.25rem;
  color: rgb(230, 83, 60);
  
}
.navbar{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}  
.nav-links{
  display: flex;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-weight: 400; 
  font-size: 1.12rem;
  color: rgb(255, 255, 255); 

} 
.btn-primary{
  padding: 5px 10px 5px 10px;
  margin: 0 10px;
  border-radius: 35px;
  border: none;
  background: rgb(230, 83, 60);
}
.nav-hamburger-menu{
  display: none;
}
/* navbar styles end */
/* Run an Extra Mile Easily section */
.main-section{
  max-width: 1200px;
  min-height: 400px;
  margin: 0 auto;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  /* text-align: center; */
  background-color: rgb(34, 34, 34);
  padding: 30px;
  border-radius: 18px;
}
.run-extra-text-section{
  width: 60%;
  /* border: 2px solid green; */

}
.run-extra-img-section{
  width: 40%;
  /* border: 2px solid green; */
}
.run-extra-img-section img{
  width: 100%;
  height: 100%;
  border-radius: 18px;
}
.run-extra-container{
  font-weight: 900;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  margin: 14px 0px;
}
.fitness-container{
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 0.88rem;
  margin: 14px 0px;
}
.button-primary{
  background-color: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  margin: 34px 0px;
  padding: 16px 40px 16px 40px;
  border-radius: 42px;
  font-weight: 600;
  font-size: 1.1rem;
}
.color{
  background-color: rgba(0, 0, 0);
}